.text-section {
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.portifolio {
    display: flex;
    justify-content: space-around;
}

.card {
     padding: 15 px;
}

.about-img {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-contact {
    margin: 0 auto;
}
